<li class="<%= 'selected' if controller?('request') && action?('new', 'select_authority') %>">
  <%= link_to _("Make a request"), select_authority_path, :id => 'make-request-link' %>
</li>

<li class="<%= 'selected' if controller?('request') && !action?('new', 'select_authority') %>">
  <%= link_to _("Browse requests"), request_list_successful_path %>
</li>

<li class="<%= 'selected' if controller?('public_body') %>">
  <%= link_to _("View authorities"), list_public_bodies_default_path %>
</li>

<li><%= link_to _("PRO"), 'https://handlingar.se/sv/pro' %></li>


<li><%= link_to _("Tjänster"), 'https://about.handlingar.se/' %></li>

<li><%= link_to _("Blogg"), 'https://about.handlingar.se/nyheter/' %></li>




<li class="<%= 'selected' if controller?('help') %>">
  <%= link_to _("Help"), help_about_path %>
</li>
