<div id="error-page">
 <% if @status == 404 %>
  <h1><%= _("Ursäkta, vi kunde inte hitta den sidan") %></h1>

  <p><%= _("Sidan existerar inte. Saker du kan pröva nu:")%></p>

  <ul>
  <li><%= _("Kolla efter misstag om du skrev eller kopierade adressen.")%></li>
  <li><%= _("Sök på hemsidan för att hitta vad du letade efter.")%>
      <%= form_tag({:controller => "general", :action => "search_redirect"}, {:id => "search_form"}) do %>
             <%= text_field_tag 'query', params[:query], { :size => 30 } %>
             <%= submit_tag _("Search") %>
      <% end %>
  </li>
  </ul>
 <% else %>
  <h1><%= _("Ursäkta, det var ett problem med att processa denna sida") %></h1>
  <p><%= _('Du har hittat en bugg. Vänligen <a href="{{contact_url}}">kontakta oss</a> för att berätta om problemet.', :contact_url => help_contact_path) %></p>
 <% end %>
</div>
