<div class="columns_header">
  <h1>Allmänna Villkor</h1>
</div>
<div id="right_column_flip" class="right_column_flip">
  <div>
    <ul>
      <li>
        <%= link_to "Inledning", '#introduction' %>
      </li>
      <li>
        <%= link_to "Parter", "#parties" %>
      </li>
      <li>
        <%= link_to "Avtalet", "#contract" %>
      </li>
      <li>
        <%= link_to "Tjänsten ", "#service" %>
      </li>
            <li>
        <%= link_to "Mjukvarutjänst ", "#service" %>
      </li>
            <li>
        <%= link_to "Användning av Tjänsten ", "#service" %>
      </li>
            <li>
        <%= link_to "Övriga tjänster ", "#service" %>
      </li>
            <li>
        <%= link_to "Funktioner som innefattas i tjänsten ", "#service" %>
      </li>
      <li>
        <%= link_to "Kundens ansvar ", "#responsibility" %>
      </li>
      <li>
        <%= link_to "Säkerhetskopiering av data ", "#responsibility" %>
      </li>
         <li>
        <%= link_to "Teknisk standard", "#responsibility" %>
      </li>
         <li>
        <%= link_to "Säkerhet av konto", "#responsibility" %>
      </li>
         <li>
        <%= link_to "Digital Openers ansvar och ansvarsbegränsning ", "#liability" %>
      </li>
         <li>
        <%= link_to "Force majeure  ", "#forcemajeure" %>
      </li>
         <li>
        <%= link_to "Priser, debitering och betalningsvillkor  ", "#price" %>
      </li>
         <li>
        <%= link_to "Priser och kostnader ", "#price" %>
      </li>
        <li>
        <%= link_to "Betalningsvillkor", "#price" %>
      </li>
        <li>
        <%= link_to "Debiteringsperiod ", "#price" %>
      </li>
        <li>
        <%= link_to "Ändring av priser  ", "#price" %>
      </li>
        <li>
        <%= link_to "Uppsägning pga av ändring av prismodell eller priser", "#price" %>
      </li>
        <li>
        <%= link_to "Uppsägning ", "#termination" %>
      </li>
        <li>
        <%= link_to "Kundens uppsägning  ", "#termination" %>
      </li>
        <li>
        <%= link_to "Skriftlig uppsägning ", "#termination" %>
      </li>
        <li>
        <%= link_to "Förtida uppsägning ", "#termination" %>
      </li>
        <li>
        <%= link_to "Tillämplig lag och tvistelösning  ", "#law" %>
      </li>
    
    </ul>
  </div>
</div>
<div id="left_column_flip" class="left_column_flip">
  <%= render partial: 'legal' %>
</div>
