<div id="right_column_flip">
    <h2>Помощна информация</h2>
    <ul class="no_bullets">
        <li><%= link_to_unless_current "Въведение", "/help/about" %></li>
        <li><%= link_to_unless_current "Създаване на заявления", "/help/requesting" %></li>
        <li><%= link_to_unless_current "Личните Ви данни", "/help/privacy" %></li>
        <li><%= link_to_unless_current "Служители по ДдИ", "/help/officers" %></li>
        <li><%= link_to_unless_current "За този софтуер", "/help/alaveteli" %></li>
        <li><%= link_to_unless_current "Заслуги", "/help/credits" %></li>
        <li><%= link_to_unless_current "За разработчици", "/help/api" %></li>
        <li><%= link_to_unless_current "Помогнете ни", "/help/help_out" %></li>
        <li><%= link_to_unless_current "Разширено търсене", "/advancedsearch" %></li>
    </ul>

    <h2 id="contact">Пишете ни</h2>
    <p>Ако не намерите отговор на Вашия въпрос, или искате да ни
съобщите нещо за сайта, <a href="/help/contact">свържете
се с нас</a>.
    </p>
</div>


