<% @title = "A propos" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="introduction">A propos de <%= site_name %> <a href="#introduction">#</a></h1>
  <dl>

    <dt id="purpose">A quoi sert <%= site_name %> ?<a href="#purpose">#</a> </dt>
    <dd>
      <%= site_name %> est une plateforme qui vous aide à demander l’accès à des 
      informations détenues par les autorités publiques. Qu’est-ce qu’une autorité publique ? 
      Quelques exemples : Communes, CPAS, Sociétés de logement social, Cabinets ministériels, 
      Ministères publics, Intercommunales,...).
    </dd>

    <dt id="premise">Comment ça fonctionne ? <a href="#premise">#</a> </dt>
    <dd>
      Vous choisissez l'autorité publique pour laquelle vous recherchez des informations 
      puis vous écrivez un message en demandant ce dont vous avez besoin (une question, un document 
      détenu par l’autorité,...). Ensuite nous envoyons votre demande à l'autorité publique. 
      Vous recevrez un email lorsque l’autorité aura répondu ou lorsque le délai de réponse 
      sera expiré (30 jours). Toutes les réponses reçues sont automatiquement publiées sur le site 
      web afin que vous et tout le monde puissiez y avoir accès.
    </dd>

    <dt id="whybother_me">Pourquoi devrais-je le faire ? <a href="#whybother_me">#</a> </dt>
    <dd>
      Vous payez des impôts et l’Etat réalise des actions grâce à cet argent. Ces actions touchent 
      votre vie quotidienne, de la santé jusqu’à la défense nationale. Parfois de bonnes choses sont 
      réalisées mais parfois aussi de mauvaises. Plus les citoyens s'intéresseront à l’action publique, 
      plus ils seront capables de faire des propositions pour améliorer les choses qui sont mal réalisées et 
      pour s’exprimer sur ce qui a été bien fait. Plus les dirigeants publics se sentiront observés, plus 
      ils seront prudents dans la gestion de nos impôts... La démocratie s’en trouvera renforcée, grâce à 
      votre regard vigilant.
    </dd>

    <dt id="whybother_them">Pourquoi l'autorité publique doit répondre ? <a href="#whybother_them">#</a> </dt>
    <dd>
      <p>En vertu de la législation sur la Publicité de l'information, la plupart des autorités publiques 
      sont obligées de répondre à la plupart des demandes. La réponse devrait soit contenir l'information 
      dont vous avez besoin, soit des explications sur les raisons pour lesquelles l’autorité ne peut ou 
      ne veut pas divulguer l’information demandée.</p>

      <p>Pour simplifier, les documents administratifs sont communicables en vertu de l’article L. 300-2 du code des relations entre le public et l’administration (CRPA).
      Les articles L. 311-5 et L. 311-6 listent les exceptions à ce cas général.</p>
      <p>C’est en principe au demandeur que revient le choix du mode de communication. 
      Cela suppose qu’il ait pu identifier convenablement le document qu’il souhaite, qu’il ait formulé clairement et précisément sa demande,
      et qu’il ait indiqué dans quelles conditions il souhaite que s’effectue la communication.
      </p>
      <p>
      La loi n° 2016-1321 du 7 octobre 2016 pour une République numérique a introduit la mise en ligne sur internet du document sollicité comme modalité de communication possible.
      </p>
      <p>
      De plus, en vertu de l'article L. 300-4 du code des relations entre le public et l'administration, 
      lorsque l'administration dispose d'un document sous format numérique et que le demandeur en demande la communication par courriel ou par publication en ligne, 
      l'administration doit s'assurer que la mise à disposition se fait « dans un standard ouvert, aisément réutilisable et exploitable par un système de traitement 
      automatisé », que l'article 4 de la loi du 21 juin 2004 pour la confiance dans l'économie numérique définit comme «tout protocole de communication, 
      d'interconnexion ou d'échange et tout format de données interopérable et dont les spécifications techniques sont publiques et sans restriction d'accès 
      ni de mise en œuvre».
      </p> 
    </dd>

    <dt id="reporting">Que faire si je découvre une demande qui me semble inapropriée ?<a href="#reporting">#</a></dt>
    <dd>
      <p>
      Les demandes d'informations personnelles ou les demandes vexatoires ne sont pas autorisées via la loi de Publicité de l'administration.
      </p>

      <p>
      Si vous pensez qu'une demande n'est pas appropriée, vous pouvez la signaler à l'attention des administrateurs du site.
      </p>
    </dd>

    <dt id="reporting_unavailable">Pourquoi il n'est plus possible de signaler certaines demandes ? <a href="#reporting_unavailable">#</a></dt>
    <dd>
      <p>
        Si une requête a déjà été signalée aux administrateurs du site, il est impossible de la signaler à nouveau tant que la demande initiale est en cours de traitement.
      </p>

      <p>
        Si les administrateurs choisissent de laisser visible une demande 
        déjà signalée comme inappropriée, vous pouvez utiliser le formulaire 
        dans la barre latérale de la demande pour contacter les administrateurs, 
        au cas où vous estimez toujours qu'elle devrait être cachée.
      </p>
    </dd>

    <dt id="who">Qui s'occupe de <%= site_name %> ? <a href="#who">#</a> </dt>
    <dd><%= site_name %> fonctionne grâce au logiciel open source <a href="http://alaveteli.org">Alaveteli</a>, créé et géré par <a href="http://www.mysociety.org">mySociety</a>, initiallement créé par la <a href="http://www.mysociety.org/2006/12/06/funding-for-freedom-of-information/">fondation JRSST (Joseph Rowntree Reform Trust  - Charitable Trust)</a>. MySociety est un projet de l'association <a href="http://www.ukcod.org.uk/UK_Citizens_Online_Democracy">UK Citizens Online Democracy</a>. Si vous appréciez notre travail, vous pouvez contribuer en <a href="https://www.mysociety.org/donate/">faisant un don</a> sur le site de l'association.
    </dd>

    <dt id="updates">Comment puis-je rester au courant de l’actualité de <%= site_name %> ?<a href="#updates">#</a> </dt>
    <dd>Vous pouvez suivre le <a href="https://fr.okfn.org/blog/">blog</a> d'Open Knowledge France.
    </dd>

    <dt id="mentions_legales">Mentions légales<a href="#mentions_legales">#</a></dt>
    <dd>
    <ul>
      <li>Hébergeur: Gandi SAS</li>
      <li>Editeur: OpenKnowledge France</li>
    </ul>
    </dd>

  </dl>

  <p><strong>A suivre:</strong> en savoir plus sur <a href="<%= help_requesting_path %>">comment faire une demande --&gt;</a></p>

  <div id="hash_link_padding"></div>
</div>
