<% @title = "Om" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="introduction">Introduktion till <%= site_name %> <a href="#introduction">#</a></h1>
  <dl>

    <dt id="purpose">Vad är syftet för <%= site_name %>? <a href="#purpose">#</a> </dt>
    <dd>För att hjälpa dig att ta reda på insiderinformation om den svenska regeringen och svenska offentliga myndigheter.
  Webbplatsen hjälper människor få tillgång till information om staten, kommuner,
  riksdagen, sjukvårdsinstanserna, de militära styrkorna, statligt finansierade skolor och universitet och
  andra offentliga myndigheter. Du kan också använda webbplatsen för att ta reda på information som tillsynsmyndigheterna har om företag,
  välgörenhetsorganisationer och andra organisationer.
    </dd>

    <dt id="premise">Hur fungerar denna hemsida? <a href="#premise">#</a> </dt>
    <dd>Du väljer den myndighet som du vill ha information från, sedan skriver
  du en kort anteckning och fråga som beskriver vad du vill veta. Vi skickar då din begäran
  till den offentliga myndigheten. Alla mottagna svar publiceras automatiskt på
  webbplatsen för dig och alla andra för att hitta och läsa.
    </dd>

    <dt id="whybother_me">Varför ska jag bry mig om att göra detta? <a href="#whybother_me">#</a> </dt>
    <dd>Du betalar skatt, och sedan gör regeringen, landsting och kommunen saker med pengarna.
  Alla typer av saker som påverkar ditt liv, från hälso- och sjukvården till det nationella försvaret. Några
  saker gör de dåligt, vissa saker gör de väl. Ju mer vi tar reda på hur staten, landstingen och kommuner
  fungerar, desto bättre kan vi lägga fram förslag för att förbättra det som
  görs dåligt, och för att fira de saker som görs väl.
  Vissa människor använder också platsen för forskning och vissa för att bygga innovativa lösningar.
    </dd>
    
       <dt id="donate">Donera till föreningen som driver Handlingar.se <a href="#donate">#</a> </dt>
   <dd> 
     Nu finns det möjlighet att visa sitt intresse och stöd för denna sida genom att skriva upp sig på Handlingar.se's nyhetsbrev. Vi kommer inom kort ha möjlighet att ta emot donationer för att fortsätta arbeta med den här grundlagskritiska plattformen. 
     Genom att donera till Handlingar.se kan vi ta fram och tillgängliggöra mer material som kan hjälpa dig i ditt arbete med allmänna handlingar och öppna data!
    <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://handlingar.us19.list-manage.com/subscribe/post?u=f018f54119d632d4a2f05573b&amp;id=9275f906b3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Få uppdateringar från Handlingar.se</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Epost  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">Förnamn </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Efternamn </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f018f54119d632d4a2f05573b_9275f906b3" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text'; }(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
    </dd>

    <dt id="whybother_them">Varför skulle den myndigheten bry sig om att svara mig?<a href="#whybother_them">#</a> </dt>
    <dd>Enligt grundlagen Tryckfrihetsförordningen och offentlighetsprincipen måste de svara. Svaret
  kommer antingen att innehålla den information du vill, eller
  ge en giltig rättslig anledning till varför den inte lämnas ut, t.ex. elektroniskt.
    </dd>

    <dt id="useful">Blir information utgiven via webbplatsen användbar? <a href="#useful">#</a> </dt>
    <dd>
      <p>
       Ja. Hundratusentals dokument har släppts via liknande webbplatser runt om i världen
  Se till exempel : <a href="http://www.guardian.co.uk/news/datablog/2012/mar/20/freedom-of-information-foi"> 366
  Intressanta saker som vi känner på grund av WhatDoTheyKnow</a>, Storbritanniens motsvarighet till Handlingar.se.
      </p>

      <p>
Om du anser att en begäran inte är lämplig kan du rapportera den för att uppmärksamma administratörerna.
      </p>
    </dd>

    <dt id="who">Vem driver Handlingar.se? <a href="#who">#</a></dt>
    <dd>
      <p>
     Handlingar.se drivs och underhålls som ett projekt
  av en grupp av människor på en ideell bas.
      </p>

    </dd>



    <dt id="updates">Hur kan jag hålla jämna steg med nyheter om  <%= site_name %>?<a href="#updates">#</a> </dt>
  <dd>Vi har <a href="https://om.handlingar.se/posts/">blogg</a> och en <a href="https://twitter.com/handlingar">Twitter</a>
  </dd>

  </dl>

  <p><strong>Härnäst</strong>, kan du läsa om<a href="<%= help_requesting_path %>">att göra begäran om allmän handling</a> --&gt;</p>

  <div id="hash_link_padding"></div>
</div>
