<% @title = _("FOI officer questions") %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

<dl>

<dt id="top">Оказах се тук, след като последвах връзка
от заявление за Достъп до Информация. Защо? <a href="#top">#</a> </dt>

<dd><p><%= site_name %> е услуга, предоставяна от
благотворителна организация в помощ на хората, желаещи да създават
заявления за ДдИ, позволяваща им лесно проследяване и
споделяне на получените отговори.</p>

<p>Заявлението за ДдИ, което сте получили е създадено от
потребител, използващ Alaveteli България. Вие може просто да отговорите
на Заявлението, както бихте го направили, когато е от конкретен човек.
Единствената разлика е, че отговорът Ви автоматично ще бъде публикуван
в Интернет.
</p>
<p>Ако имате опасения относно лични данни или други подобни,
молим, прочетете отговорите по-долу.
Също така, може да прочетете <a href="/help/about">Въведението към
<%= site_name %></a>, за да научите повече за сайта от гледната
точка на потребителите. Вие може също да потърсите в сайта
организацията, в която работите и да видите състоянието на други
заявления, направени чрез сайта.</p>

<p>И накрая, ние сме особено благодарни за всякакви коментари
и мнения от служители, обработващи заявления за ДдИ. Молим, <a href="/help/contact">пишете ни</a>.
</p>
</dd>

<dt id="responses">Защо Вие публикувате отговори към
Заявления за ДдИ? <a href="#responses">#</a> </dt>

<dd>Ние смятаме, че от това има много ползи. Основната е, че
това насърчава хората да се интересуват повече и да са съпричастни с
работата на правителството. Също така, ние се надяваме, че ще се намали
броя на дублираните заявления на дадена тема, отправени към публичен
орган. Тъй като отговорите на Заявленията съдържат публична информация,
която всеки може лесно да поиска отново от публичния орган, ние
смятаме, че не би трябвало да има причина, поради която те да не може
да се публикуват.
</dd>

<dt id="realpeople">Реални личности ли са хората,
създаващи заявленията? <a href="#realpeople">#</a> </dt>

<dd>Да. С цел проследяване на отговорите, ние използваме
компютърно генериран имейл адрес за всяко Заявление. Но от друга
страна, преди&nbsp;да може да създаде заявление, потребителят
на сайта трябва да се регистрира с уникален, собствен имейл адрес,
чиято валидност ние проверяваме. Вие може да намерите в сайта страница,
на която са изредени всички заявления, създадени от който и да е
потребител.
</dd>

<dt id="email_only">An email isn't a sufficient address for an FOI request! <a href="#email_only">#</a> </dt>

<dd>Yes it is. This
<a href="http://www.whatdotheyknow.com/request/1142/response/2894/attach/5/20080806100741260.pdf">letter from the ICO to Rother District Council</a> gives guidance on the matter, specifically
in the context of requests made via <%= site_name %>.
</dd>

<dt id="vexatious">Не сте ли вие авторите на повечето
досадни заявления? <a href="#vexatious">#</a> </dt>

<dd><p><%= site_name %> не създава заявления. Ние изпращаме
заявления от името на нашите потребители, които са реални хора,
създаващи заявленията. </p>
<p>Приемете го така - ако много от заявленията, които
получавате, са изпратени от хора с електронни пощи в Gmail, не би могло
да се мисли, че Google създават досадни заявления. Същото е, ако
повечето заявления са направени чрез Alaveteli България. Още повече, че
тъй като всички заявления са публични, за Вас ще е много лесно да
откриете кой от потребителите ни създава досадни заявления. </p>
<p>(За UK: Ако това не Ви е достатъчно,
<a href="http://www.whatdotheyknow.com/request/1142/response/2894/attach/5/20080806100741260.pdf">letter
from the ICO to Rother District Council</a> дава някои напътствия
в материята.)</p>
</dd>

<dt id="spam_problems">Аз виждам заявлението в <%= site_name %>, но ние никога не сме го получавали с имейл!<a href="#spam_problems">#</a> </dt>

<dd><p>Ако виждате заявление в нашия сайт, то ние сме направили
опит да го изпратим на органа с имейл. Каквито и да са съобщения за
грешка при доставянето, автоматично се появяват на сайта. Може да
проверите адреса, на който&nbsp;изпращаме заявления до органа като
използвате
връзката "Имейл адрес за ДдИ", появяваща се на страницата на органа в
нашия сайт. <a href="/help/contact">Пишете
ни</a> ако има по-подходящ адрес, който можем да ползваме.</p>
<p>Понякога заявленията не се доставят, понеже тихомълком се
премахват от "спам филтри", инсталирани и поддържани от IT отдела на
органа. Органите биха могли да направят така, че това да не се случва,
като поискат от IT отдела си да включат в т.нар.&nbsp;"бели
списъци"
имейлите, пристигащи от <strong>@<%= AlaveteliConfiguration::incoming_email_domain %></strong>.
Ако <a href="/help/contact">поискате</a>
ние ще Ви изпратим отново което и да е заявление, и/или ще Ви
предоставим технически данни за изпращането му, така че IT отделът да
може да проследи какво се е случило с писмото.
</p>
<p>И накрая, Вие може да отговорите на което и да е заявление
през
Вашия уеб браузър, без какъвто и да е имейл, като използвате връзката
"Отговаряне на заявлението" долу в страницата на&nbsp;заявлението.
</dd>

<dt id="days">Как изчислявате срока за отговор, показван
в страниците на заявленията?<a href="#days">#</a> </dt>

<dd>
<p>Според Закона за достъп до обществена информация:</p>

<blockquote><p>Заявленията за предоставяне на достъп до обществена
информация се разглеждат <strong>във възможно най-кратък срок</strong>,
но не по-късно
от 14 дни след датата на регистриране.</p></blockquote>

<p>Това, дали се броят почивните дни, или пък какво се
случва, ако Заявлението е пристигнало в извън работното време на
служителите,&nbsp;са подробности. Това, което е важно тук е, че
законът изисква органът да отговори <strong>в най-кратък срок</strong>.</p>

<p>Ако има основателна причина, поради която обработката на
заявлението ще отнеме повече време, ще бъде полезно да изпратите на
заявителя кратък имейл с едно-две изречения, с които да му обясните
какво се случва.</p>

<p>Служителите, отговарящи на заявления за ДдИ често
трябва да свършат <strong>доста и обемна работа</strong>,
но това остава скрито за публиката. Ние смятаме, че ще е полезно за
всички, ако е известна по-голяма част от сложността на процедурата.</p>

</dd>

<dt id="days2">И все пак, как Вие изчислявате крайния
срок?<a href="#days2">#</a> </dt>

<dd>

<p>Молим, първо прочетете отговора на предишния въпрос.
По закон, органите трябва да отговарят на заявления за ДдИ във <strong>възможно
най-кратък срок</strong>. Ако те не успеят да го направят,
най-добре е да покажат трудността на работата, която вършат, като
обяснят причината за забавянето.
</p>

<p><%= site_name %> показва максимално допустимия срок за
отговор на всяко заявление. Ето как го изчисляваме:</p>

<ul>

<li>Ако денят, в който изпращаме Заявлението по имейл е
работен, ние го броим за "ден нула", дори и да е изпратен късно
вечерта. Денят завършва в полунощ. Следващият работен ден ние броим за
"ден едно"и така нататък до <strong>14 работни дни</strong>.</li>

<li>Ако денят, в който имейлът е доставен е
почивен, ние броим следващия работен ден за "ден едно". Доставката си е
доставка, даже и ако се е случила в почивен ден. Някои органи <a href="http://www.whatdotheyknow.com/request/policy_regarding_body_scans#incoming-1100">не
са съгласни с това</a> (за UK), а нашите адвокати не са съгласни
с тях.</li>

<li>На заявителите се казва да отбележат деня, в <strong>който
поясняват</strong> заявленията си, понеже срокът започва да тече
отначало, но понякога те грешно разбират това. Ако Вие виждате проблем
с конкретно заявление, уведомете ни, за да го отстраним.</li>
</ul>

<p>Така изчислена, датата се показва на заявлението с текста:
"По закон,
Министерството на образованието и науката би трябвало да отговори до
...". There is
only
one case which is not normal, see the next question about
<a href="#public_interest_test">public interest test
time extensions</a>.
</p>

<p>Schools are also a special case, which <%= site_name %> displays differently.
</p>

<ul>
<li>Since June 2009, <strong>schools</strong> have "20 working days
disregarding any working day which is not a school day, or 60 working days,
whichever is first" (<a href="http://www.opsi.gov.uk/si/si2009/draft/ukdsi_9780111477632_en_1">FOI (Time for Compliance with Request) Regulations 2009</a>). <%= site_name %> indicates on requests to schools that the 20 day deadline is only
during term time, and shows them as definitely overdue after 60 working days
</li>
</ul>

<p>If you're getting really nerdy about all this, read the <a href="http://www.ico.gov.uk/upload/documents/library/freedom_of_information/detailed_specialist_guides/timeforcompliance.pdf">detailed ICO guidance</a>.
Meanwhile, remember that the law says authorities must respond
<strong>promptly</strong>. That's really what matters.</p>

</dd>

<dt id="public_interest_test">How do you reflect time extensions for public interest tests?<a href="#public_interest_test">#</a> </dt>

<dd>

<p>The Freedom of Information Act lets authorities claim an indefinite time
extension when applying a <strong>public interest test</strong>.  Information
Commissioner guidance says that it should only be used in "exceptionally
complex" cases
(<a href="http://www.ico.gov.uk/upload/documents/library/freedom_of_information/detailed_specialist_guides/foi_good_practice_guidance_4.pdf">FOI Good Practice Guidance No. 4</a>).
<%= site_name %> doesn't specifically handle this case, which is why we use the
phrase "should normally have responded by" when the 20 working day time is
exceeded.
</p>

<p>The same guidance says that, even in exceptionally complex cases, no
Freedom of Information request should take more than <strong>40 working days</strong>
to answer.  <%= site_name %> displays requests which are overdue by that much
with stronger wording to indicate they are definitely late.
</p>

<p>The Freedom of Information (Scotland) Act does not allow such a public
interest extension. <%= site_name %> would like to see the law changed to either
remove the extension from the UK Act, or to reintroduce an absolute time limit
of 40 working days even with the extension (the House of Lords <a
href="http://www.publicwhip.org.uk/division.php?date=2000-10-17&amp;number=1&amp;house=lords">voted
to remove</a> provision for such a time limit during the initial passage
of the UK Act through Parliament).
</p>
</dd>

<dt id="large_file">Как мога да изпратя голям файл,
който не би могъл да мине чрез имейл?<a href="#large_file">#</a> </dt>

<dd>Вместо чрез имейл, Вие можете да отговорите на заявление
директно от Вашия уеб четец, включително и да качите файл. За да го
направите, изберете "отговор на заявлението" в края на страницата на
заявлението. <a href="/help/contact">Пишете
ни</a>, ако файлът е голям даже и за този начин (да речем,
по-голям от 50Mb).
</dd>

<dt id="names">Защо Вие публикувате имената на държавни
служители и текста на имейли? <a href="#names">#</a> </dt>

<dd>Ние считаме, че това, което ръководителите и служителите
правят в работно време, е публична информация. Ние премахваме
съдържание само при изключителни обстоятелства, вижте нашата <a href="/help/privacy#takedown">политика
за премахване на данни</a>.
</dd>

<dt id="mobiles">Публикувате ли имейл адреси или
телефонни номера? <a href="#mobiles">#</a> </dt>

<dd><p>За да избегнем спам, ние автоматично премахваме повечето
имейл адреси и някои мобилни номера от отговорите на заявления. Молим <a href="/help/contact">пишете ни</a>
ако сме пропуснали нещо. По технически причини, ние не можем винаги да
премахваме такива данни от приложени файлове, като например от PDF-и.</p>
<p>Ако желаете да знаете кой е адреса, който сме премахнали,
молим, <a href="/help/contact">пишете
ни</a>. Понякога имейл адресът е важна част от отговора и ние го
публикуваме в прикрита форма, в коментар.</p>
</dd>

<dt id="copyright"><a name="commercial"></a>Каква
е Вашата политика за авторско право върху документите?<a href="#copyright">#</a> </dt>

<dd>Our Freedom of Information law is "applicant blind", така
че, всеки по света може да поиска същия документ и да получи копие от
него. Ако Вие считате, че с публикуването на документ в Интернет, ние
нарушаваме Ваши авторски права, можете <a href="/help/contact">да се свържете
с нас</a> и да поискате да го премахнем. Все пак, за да спестим
напразно изразходване на парите на данъкоплатците за дублирани
заявления и за добри връзки с обществеността, ние Ви съветваме
да не го правите.
</dd>

</dl>


</dl>

<p><strong>Ако все още не сте</strong>, прочетете <a href="/help/about">въведението</a> --&gt;
<br><strong>Или пък</strong>, страниците <a href="/help/credits">Заслуги</a> или <a href="/help/api">За разработчици</a> --&gt;

<div id="hash_link_padding"></div>


</div>
