<% @title = "FAQ pour les administrations" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

  <dl>

    <dt id="top">Je viens de recevoir un courriel de <%= site_name %>, qu'est-ce que c'est?<a href="#top">#</a> </dt>

    <dd><p><%= site_name %> permet à ses utilisateurs de faire des demandes d'accès aux documents administratifs et leur permet de suivre les réponses et de les partager facilement, tel que le prévoit la loi.</p>

      <p>La demande d'accès que vous avez reçue a été faite par un utilisateur de <%= site_name %>.
        Vous pouvez simplement répondre à la demande via l’email reçu.
        Toutes les réponses des autorités publiques seront automatiquement publiées sur Internet.
      </p>
      <p>Si vous avez des questions concernant la protection de la vie privée, veuillez lire les réponses ci-dessous.
        Vous pouvez également lire la <a href="<%= help_about_path %>">présentation de <%= site_name %></a> pour en savoir plus sur
        l'utilité du site du point de vue des utilisateurs.
        Vous pouvez également faire une recherche sur le site pour trouver le service public pour
        lequel vous travaillez et visualiser les autres demandes faites à l'aide de <%= site_name %>.

      <p>Enfin, nous serions ravis de recevoir des commentaires de la part des PRADA, n'hésitez donc pas
        à <a href="<%= help_contact_path %>">nous contacter</a>.
      </p>
    </dd>

    <dt id="realpeople">Les personnes qui font des demandes sont-elles des personnes réelles ?<a href="#realpeople">#</a> </dt>

    <dd>Oui. Afin de pouvoir suivre les réponses nous utilisons des adresses électroniques générées par ordinateur pour chaque demande.
    Cependant, avant de pouvoir envoyer une demande, chaque utilisateur doit s'inscrire sur le site avec une adresse email unique que nous avons vérifiée.
    Vous pouvez trouver sur Transparencia la liste de toutes les demandes faites par chaque utilisateur.
    </dd>

    <dt id="spam_problems">Je peux voir une demande sur <%= site_name %>, mais je n&apos;ai jamais reçu di&apos;email!<a href="#spam_problems">#</a> </dt>

    <dd><p>Si une demande apparaît sur le site, cela signifie que nous avons tenté de l'envoyer à l'autorité par email.
    Tous les messages d'échec de livraison apparaîtront automatiquement sur le site. Vous pouvez vérifier l'adresse que
    nous utilisons en cliquant sur le lien "Voir l'adresse email de demande d'accès à l'information " qui apparaît sur la page de l'autorité publique.
    <a href="<%= help_contact_path %>">Contactez-nous</a> s'il y a une meilleure adresse que nous pouvons utiliser.</p>

    <p>Les demandes n'arrivent parfois pas parce qu'elles sont bloquées par les “filtres anti-spam” du département informatique de l'autorité publique.
    Les autorités peuvent s’assurer que cela ne se reproduise plus en demandant à leur service informatique de rajouter les emails
    @<strong>@<%= AlaveteliConfiguration::incoming_email_domain %></strong> à la liste des emails autorisés.
    A votre demande, nous pouvons vous renvoyer les demandes déjà réalisées et/ou vous donner des
    détails techniques concernant le problème de livraison afin que votre service informatique puisse régler le problème.</p>

    <p>Enfin, vous pouvez répondre à toute demande depuis votre navigateur internet, sans avoir besoin d'email,
    en utilisant simplement le lien "répondre à la demande", en bas de chaque page de demande.</p>
    </dd>

    <dt id="days">How do you calculate the deadline shown on request pages?<a href="#days">#</a> </dt>

    <dd>

      <p>The Freedom of Information Act says:</p>

      <blockquote><p>A public authority must comply with section 1(1) <strong>promptly</strong> and
      in any event not later than the twentieth working day following the date of
      receipt.</p></blockquote>

      <p>The nerdy detail of exactly how weekends are counted, and what happens if
        the request arrives out of office hours, is just that - detail. What matters
        here is that the law says authorities must respond <strong>promptly</strong>.</p>

      <p>If you've got a good reason why the request is going to take a while to
        process, requesters find it really helpful if you can send a quick email with a
        sentence or two saying what is happening. </p>

      <p>FOI officers often have to do a lot of <strong>hard work</strong> to answer
        requests, and this is hidden from the public. We think it would help everyone
        to have more of that complexity visible.</p>

    </dd>

    <dt id="days2">But really, how do you calculate the deadline?<a href="#days2">#</a> </dt>

    <dd>

      <p>Please read the answer to the previous question first. Legally, authorities
        must respond <strong>promptly</strong> to FOI requests. If they fail to do that,
        it is best if they show the hard work they are doing by explaining what is
        taking the extra time to do.
      </p>

      <p>That said, <%= site_name %> does show the maximum legal deadline
        for response on each request. Here's how we calculate it.</p>

      <ul>

        <li>If the day we deliver the request by email is a working day, we count that
          as "day zero", even if it was delivered late in the evening. Days end at
          midnight.  We then count the next working day as "day one", and so on up to
          <strong><%= AlaveteliConfiguration::reply_late_after_days %> working days</strong>.</li>

        <li>If the day the request email was delivered was a non-working day, we count
          the next working day as "day one". Delivery is delivery, even if it happened on
          the weekend. Some authorities disagree with this, our lawyer disagrees with them. </li>

        <li>Requesters are encouraged to mark when they have <strong>clarified</strong>
          their request so the clock resets, but sometimes they get this wrong. If you
          see a problem with a particular request, let us know and we'll fix it.</li>
      </ul>

      <p>The date thus calculated is shown on requests with the text "By law,
        Liverpool City Council should normally have responded by...".
      </p>

    </dd>

    <dt id="large_file">How can I send a large file, which won't go by email?<a href="#large_file">#</a> </dt>

    <dd>Instead of email, you can respond to a request directly from your web
      browser, including uploading a file. To do this, choose "respond to request" at
      the bottom of the request's page. <a href="<%= help_contact_path %>">Contact us</a> if it
      is too big for even that (more than, say, 50Mb).
    </dd>

    <dt id="names">Why do you publish the names of civil servants and the text of emails? <a href="#names">#</a> </dt>

    <dd>We consider what officers or servants do in the course of their employment
      to be public information. We will only remove content in exceptional
      circumstances, see our <a href="<%= help_privacy_path(:anchor => 'takedown') %>">take down policy</a>.
    </dd>

    <dt id="mobiles">Do you publish email addresses or mobile phone numbers? <a href="#mobiles">#</a> </dt>

    <dd><p>To prevent spam, we automatically remove most emails and some mobile numbers from
        responses to requests.  Please <a href="<%= help_contact_path %>">contact us</a> if we've
        missed one.
        For technical reasons we don't always remove them from attachments, such as certain PDFs.</p>
    <p>If you need to know what an address was that we've removed, please <a
      href="<%= help_contact_path %>">get in touch with us</a>.
      <% if AlaveteliConfiguration::enable_annotations %>
        Occasionally, an email address forms an important part of a response
        and we will post it up in an obscured form in an annotation.
      <% end %>
    </p>
    </dd>

    <dt id="copyright"><a id="commercial"></a>What is your policy on copyright of documents?<a href="#copyright">#</a> </dt>

    <dd>Our Freedom of Information law is "applicant blind", so anyone in the
      world can request the same document and get a copy of it.

      If you think our making a document available on the internet infringes your
      copyright, you may <a href="<%= help_contact_path %>">contact us</a> and ask us
      to take it down.  However, to save tax payers' money by preventing duplicate
      requests, and for good public relations, we'd advise you not to do that.
    </dd>

    <dt id="allowed_responses">My response to an old request on <%= site_name %> has been bounced!<a href="#allowed_responses">#</a> </dt>
      <dd>After six months of inactivity, <%= site_name %> limits who can respond to a request to stop
      spammers targeting old requests. At that point, the request can only be responded to by someone who's
      from the authority. After twelve months, the request is closed to responses from anyone. If you need an
      old request to be re-opened so that you can respond to it, please <a href="<%= help_contact_path %>">
      contact us</a>.
      </dd>


  </dl>

  <p><strong>If you haven't already</strong>, read <a href="<%= help_about_path %>">the introduction</a> --&gt;
    <br><strong>Otherwise</strong>, the <a href="<%= help_credits_path %>">credits</a> or the <a href="<%= help_api_path %>">programmers API</a> --&gt;

    <div id="hash_link_padding"></div>
</div>
