<% @title = "FAQ pour les administrations" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

  <dl>

    <dt id="top">Je viens de recevoir un courriel de <%= site_name %>, qu'est-ce que c'est?<a href="#top">#</a> </dt>

    <dd><p><%= site_name %> permet à ses utilisateurs de faire des demandes d'accès aux documents administratifs et leur permet de suivre les réponses et de les partager facilement, tel que le prévoit la loi.</p>

      <p>La demande d'accès que vous avez reçue a été faite par un utilisateur de <%= site_name %>.
        Vous pouvez simplement répondre à la demande via l’email reçu.
        Toutes les réponses des autorités publiques seront automatiquement publiées sur Internet.
      </p>
      <p>Si vous avez des questions concernant la protection de la vie privée, veuillez lire les réponses ci-dessous.
        Vous pouvez également lire la <a href="<%= help_about_path %>">présentation de <%= site_name %></a> pour en savoir plus sur
        l'utilité du site du point de vue des utilisateurs.
        Vous pouvez également faire une recherche sur le site pour trouver le service public pour
        lequel vous travaillez et visualiser les autres demandes faites à l'aide de <%= site_name %>.

      <p>Enfin, nous serions ravis de recevoir des commentaires de la part des PRADA, n'hésitez donc pas
        à <a href="<%= help_contact_path %>">nous contacter</a>.
      </p>
    </dd>

    <dt id="realpeople">Les personnes qui font des demandes sont-elles des personnes réelles ?<a href="#realpeople">#</a> </dt>

    <dd>Oui. Afin de pouvoir suivre les réponses nous utilisons des adresses électroniques générées par ordinateur pour chaque demande.
    Cependant, avant de pouvoir envoyer une demande, chaque utilisateur doit s'inscrire sur le site avec une adresse email unique que nous avons vérifiée.
    Vous pouvez trouver sur <%= site_name %> la liste de toutes les demandes faites par chaque utilisateur.
    </dd>

    <dt id="spam_problems">Je peux voir une demande sur <%= site_name %>, mais je n&apos;ai jamais reçu d&apos;email!<a href="#spam_problems">#</a> </dt>

    <dd><p>Si une demande apparaît sur le site, cela signifie que nous avons tenté de l'envoyer à l'autorité par email.
    Tous les messages d'échec de livraison apparaîtront automatiquement sur le site. Vous pouvez vérifier l'adresse que
    nous utilisons en cliquant sur le lien "Voir l'adresse email de demande d'accès à l'information " qui apparaît sur la page de l'autorité publique.
    <a href="<%= help_contact_path %>">Contactez-nous</a> s'il y a une meilleure adresse que nous pouvons utiliser.</p>

    <p>Les demandes n'arrivent parfois pas parce qu'elles sont bloquées par les “filtres anti-spam” du département informatique de l'autorité publique.
    Les autorités peuvent s’assurer que cela ne se reproduise plus en demandant à leur service informatique de rajouter les emails
    @<strong>@<%= AlaveteliConfiguration::incoming_email_domain %></strong> à la liste des emails autorisés.
    A votre demande, nous pouvons vous renvoyer les demandes déjà réalisées et/ou vous donner des
    détails techniques concernant le problème de livraison afin que votre service informatique puisse régler le problème.</p>

    <p>Enfin, vous pouvez répondre à toute demande depuis votre navigateur internet, sans avoir besoin d'email,
    en utilisant simplement le lien "répondre à la demande", en bas de chaque page de demande.</p>
    </dd>

    <dt id="days">Sous quels délais les administrations sont-elles tenues de répondre à la demande ?<a href="#days">#</a> </dt>

    <dd><p>
    Les administrations sont tenues de répondre <strong>sous un mois à compter de la date de réception de la demande</strong> aux demandes de documents administratifs. Madada indique la durée légale maximale de réponse pour chaque demande. Toute décision de refus d'accès aux documents administratifs est notifiée au demandeur sous la forme d'une décision écrite motivée comportant l'indication des voies et délais de recours. Le demandeur dispose <strong>d'un délai de deux mois à compter du refus d'accès aux documents administratifs</strong> qui lui est opposé pour saisir la Commission d'accès aux documents administratifs.
      </p>

      <p>Si vous avez connaissance d'un motif pouvant justifier un délai de réponse important, il est recommandé d'en informer brièvement les demandeurs par email à ce sujet. Les administrateurs PRADA ont souvent beaucoup de travail à fournir pour répondre à certains requêtes, mais ce processus reste invisible et inconnu du public. Nous pensons que cela aiderait tout le monde de rendre cette complexité de traitement plus visible.</p>

    </dd>

    <dt id="days2">Quels sont les détails de ce calcul de délai ?<a href="#days2">#</a> </dt>

    <dd>

    <p>Merci de vous référer d'abord à la question précédente. Les administrations sont tenues de répondre rapidement aux demandes de documents administratifs. Si elles n'y parviennent pas, il est souhaitable qu'elles démontrent le fait qu'un travail interne de recherche et de mise en forme est en cours et qu'elles expliquent en quoi un délai supplémentaire est nécessaire.</p>

    <p>Ceci étant dit, <%= site_name %> indique la durée légale maximale de réponse pour chaque demande.</p>
    <p>Le jour où la demande est délivrée par email est compté comme le "jour 0", même si la demande a été délivrée tard dans la soirée. Les journées finissent à minuit. Nous  comptons ensuite le jour suivant comme le "jour 1", et ainsi de suite jusqu'aux <strong><%= AlaveteliConfiguration::reply_late_after_days %> jours</strong>.</p>

    </dd>

    <dt id="large_file">Comment puis-je envoyer de gros fichiers qui ne passent pas par email ?<a href="#large_file">#</a> </dt>

    <dd>Au lieu d'utiliser l'email, vous pouvez répondre à une requête directement depuis votre navigateur internet et transmettre des pièces jointes volumineuses. Pour faire cela, choisissez "Répondre à une demande" en bas de la page de la demande. <a href="<%= help_contact_path %>">Contactez-nous</a> si le fichier est trop gros même pour notre outil (au-delà de 50Mb).
    </dd>

    <dt id="names">Pourquoi publiez vous les noms des agent.es de service public dans le texte des emails ?<a href="#names">#</a> </dt>

    <dd>Nous considérons ce que les agent.es de service public font dans le cadre de leur mission comme de l'information publique. Nous ne retirerions ce contenu que sous des circonstances exceptionnelles. Voir à ce sujet <a href="<%= help_privacy_path(:anchor => 'takedown') %>">notre politique sur les informations personnelles.</a>.
    </dd>

    <dt id="mobiles">Publiez-vous les adresses emails et les numéros de portable ?<a href="#mobiles">#</a> </dt>

    <dd><p>Pour empêcher le spam, nous retirons automatiquement la plupart des adresses emails et numéros de téléphone des réponses aux demandes. N'hésitez pas à <a href="<%= help_contact_path %>">nous contacter</a> en cas d'oubli. Pour des raisons techniques, nous ne retirons pas toujours ces informations des fichiers joints, comme certains PDFs. Si vous souhaitez connaître l'adresse email retirée, <a href="<%= help_contact_path %>">contactez-nous</a>.

      <% if AlaveteliConfiguration::enable_annotations %>
      Occasionnellement, une adresse email constitue une part importante de la réponse et nous la publions alors dans une annotation.
      <% end %>
    </p>
    </dd>

    <dt id="copyright"><a id="commercial"></a>Quelle est votre politique sur le droit d'auteur des documents ?<a href="#copyright">#</a> </dt>

    <dd>
La loi sur la liberté de l'information est "aveugle" et s'applique à l'identique pour quiconque fait une demande de document et reçoit une copie de celui-ci. Si vous pensez que notre mise à disposition sur internet d'un document enfreint vos droits d'auteurs, vous pouvez <a href="<%= help_contact_path %>">nous contacter</a> et demander une dépublication. Toutefois, pour préserver l'argent du contribuable et prévenir les demandes faites en doublon, nous recommandons de ne pas le faire.
    </dd>

    <dt id="allowed_responses">Ma réponse à une ancienne demande <%= site_name %> a été supprimée !<a href="#allowed_responses">#</a> </dt>
    <dd>Après 6 mois d'inactivité, <%= site_name %> limite qui peut répondre à une demande afin d'empêcher les spammeurs de s'en prendre aux anciennes demandes. A ce stade, la demande ne peut être traitée que par une personne travaillant pour l'administration concernée. Après 1 an, la demande est fermée, plus personne ne peut y répondre. Si vous souhaitez ré-ouvrir une ancienne demande pour y répondre, merci de <a href="<%= help_contact_path %>">nous contacter</a>.
      </dd>

  </dl>

  <p>Si vous ne l'avez pas déjà lue, voir <a href="<%= help_about_path %>">the introduction --&gt;</a><br />
  Sinon, voir les <a href="<%= help_credits_path %>">crédits</a> ou en savoir plus sur <a href="<%= help_api_path %>">notre API --&gt;</a>

    <div id="hash_link_padding"></div>
</div>
