<% @title = "Registratorer och tjänstepersoner" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

<dl>

  <dt id="top">
   Allmänt om Handlingar.se <a href="#top">#</a>
  </dt>
  <dd>
      <p>
       Välkommen! Handlingar är en plattform som hjälper allmänheten att göra förfrågningar om allmänna handlingar till offentliga organisationer i Sverige.

      </p>
      <p>
     Begäran som har fört dig hit gjordes av någon som använde Handlingar. Du kan helt enkelt svara på förfrågan på samma sätt som alla andra förfrågningar ni får in. Den enda skillnaden är att ditt svar automatiskt publiceras på Internet.
</p>
      <p>
        Om du har integritetsfrågor eller andra problem, läs svaren nedanför. Du kanske också vill läsa en<a href="/help/about"> introduktion till <%= site_name %></a>
för att ta reda på vad plattformen gör från synpunkt av en användare. Du kan också söka bland förfrågningar för att hitta den myndighet som du arbetar för, och visa status för alla förfrågningar gjorts med hjälp av plattformen.

      </p>
      <p>
     Slutligen välkomnar vi synpunkter och tankar från registratorer, <a href="<%= help_contact_path %>">kontakta oss</a>
      </p>
    </dd>
    </dl>
      <dl>
        <dt id="responses">
         Publicering av svaret på en begäran om allmän handling<a href="#responses">#</a>
        </dt>
        <dd>
         Vi tror att det finns många fördelar att publicera handlingar på Internet.

         Det kan uppmana allmänheten att bli mer intresserade och involverade i myndigheternas och offentlig sektors arbete.
Vi hoppas att det kommer minimera antalet dubbla förfrågningar om allmänna handlingar på ämnen som en myndighet tar emot.
Givet att svar på allmänna handlingar innehåller allmän information, som vem som helst enkelt kan begära ut igen, anser vi att det inte finns något problem med att publicera det offentligt såvida det inte innehåller känsliga uppgifter.

        </dd>
      
        <dt id="email_only">
          Hur det fungerar <a href="#email_only">#</a>
        </dt>
        <dd>
      Användare registrerar sig på plattformen vi sen kan verifiera. För att kunna hålla översikt och ta fram statistik av svaren om på förfrågningar om allmän handling använder vi dator-genererade e-postadresser för varje begäran som tjänstepersoner och registratorer svarar på. 
Myndigheten svarar på begäran så som er policy beskriver. Enligt E-delegationens regler om att lämna ut information är mail ett tillräckligt medium.

        </dd>
        
      <dl>
        <dt id="spam_problems">
          Begäran om allmän handling finns på Handlingar, men ni på myndigheten inte har tagit emot det<a href="#spam_problems">#</a>
        </dt>
      </dl>
      <p>
     Om en begäran visas på webbplatsen, så har vi försökt att skicka den till myndigheten via e-post. Eventuella felmeddelanden kring leverans visas automatiskt visas på webbplatsen. Man kan kontrollera adressen vi använder med "Visa e-postadress"-länken som visas på sidan för myndigheten.
        <a href="<%= help_contact_path %>">Kontakta oss</a> om det finns en bättre adress kan vi
        använda.
      </p>
      <p>
       En begäran kan ibland inte levereras eftersom de går igenom "spamfilter" hos IT-avdelningen vid myndigheten. Myndigheter kan säkerställa att detta inte sker genom att be sina IT-avdelningar att "vitlista" att meddelande från@handlingar.se. Om du kontaktar oss kan vi skicka begäran igen, och/eller ge tekniska detaljer om leveransen till IT-avdelningen så att de kan ta reda på vad som hände med mailet.

      </p>
      <p>
   Slutligen kan man svara på en begäran från webbläsaren, utan behöva någon e-post, med hjälp av "svara på begäran"-länken längst ned på botten av sidan för varje begäran.
      </p>
      <dl>
        <dt id="days">
         Hur tiden till en besvarad begäran beräknas  <a href="#days">#</a>
        </dt>
      </dl>
      <p>
        Tryckfrihetsförordningen säger:
      </p>
      <blockquote>
        <p>
          En begäran om kopia av allmän handling ska behandlas <strong>"skyndsamt"</strong> enligt
          <a href="http://www.riksdagen.se/sv/Dokument-Lagar/Lagar/Svenskforfattningssamling/Tryckfrihetsforordning-19491_sfs-1949-105/#K2">Tryckfrihetsförordningen Kapitel 2, 16 §</a>.
        </p>
      </blockquote>
      <p>
     Detaljer om exakt hur helger räknas, och vad som händer om begäran anländer utanför kontorstid, är just det - detalj. Vad som spelar roll här är att lagen säger myndigheterna måste svara <strong>skyndsamt - alltså snabbt och hastigt.</strong>
      </p>
      <p>
     Om du har en bra anledning till varför begäran kommer att ta ett tag att handlägga, skicka gärna en kort uppdatering via e-post med en mening eller två för att berätta vad som händer.
      </p>
      <p>
        Offentliga tjänstepersoner måste ofta göra en hel del <strong>hårt arbete</strong> för att svara
        på förfrågningar, och detta är dolt för allmänheten. Vi tror att det skulle hjälpa alla att lära sig mer om detta arbete.

      </p>
   
      <p>
      Handlingar.se visar en uppskattad maximal deadline för att svara på varje begäran som är rimlig för "skyndsamt" hanterad handläggning. Nedanför beskrivs hur vi beräknar det.

      </p>
      <ul>
        <li>Om den dagen vi levererar begäran via e-post är en arbetsdag, räknar vi att som "dag noll", även om det levererades sent på kvällen. Dagar slutar vid midnatt. Vi räknar sedan nästa arbetsdag som "dag ett", och så vidare upp till 20 arbetsdagar.
        </li>
        <li>Om den dag begäran e-postmeddelandet levererades var en icke-arbetsdag, räknar vi nästa arbetsdag som "dag ett". Leverans är leveransen, även om det hände på helgen.
        </li>
        <li>Användare av plattformen uppmuntras att markera när de har kompletterat deras begäran så att klockan återställs, men ibland blir detta fel. Om du ser ett problem med en särskild begäran, låt oss veta så kommer vi att fixa det.
        </li>
      </ul>
  
      <dl>
        <dt id="large_file">
        Om du ska skicka en stor fil som inte kommer gå genom e-post<a href="#large_file">#</a>
        </dt>
        
          <ul>
        <li>Fundera på om det är rimligt att dela upp datan i ett antal filer, kanske en fil per år med data till exempel, och skicka sedan en serie e-postmeddelanden, med en bilaga till varje meddelande.

        </li>
        <li>Om du komprimerar filer till .zip-format innan du skickar dem kan det minska filstorlek.

        </li>
        <li>Istället för e-post kan du svara på en begäran från din webbläsare, samt att det går att ladda upp filer. För att göra detta, välj "svara på begäran" vid botten av sidan för begäran om allmän handling. Kontakta oss om den är för stor även för det (mer än, t.ex. 50Mb).
        </li>
      </ul>
        
        
        <dt id="names">
         Publicering av namn på tjänstepersoner och innehåll från e-postmeddelanden 
          <a href="#names">#</a>
        </dt>
        <dd>
         Vi anser att vad politiker och tjänstepersoner gör under tiden av sin anställning och position är allmän information. 
       
      <p>
För att förebygga spam tar vi automatiskt bort de flesta e-postadresser och några mobilnummer från svar på förfrågningar. Vänligen kontakta oss om vi har missat något. För tekniska anledningar tar vi inte alltid bort dem från bilagor, såsom vissa PDF:er.

      </p>
      <p>
      Om du behöver veta vad en adress var som vi har tagit bort, vänligen kontakta oss. Ibland är en e-postadress en viktig del av ett svar och vi kommer att publicera den i en maskerad form i en notering.
      </p>
          
           </dd>
      <dl>
        <dt id="copyright">
          <a name="commercial" id="commercial"></a>Policy kring upphovsrätt för dokument <a href="https://handlingar.se/help/officers#copyright">#</a>
        </dt>
        <dd>
        Sveriges grundlag, i detta fall Tryckfrihetsförordningen med Offentlighetsprincipen är blind för vem som begär ut en allmän handling. Därför kan vem som helst i världen begära ut samma dokument och få en kopia av den med rätten att vara anonym.
Om du anser att tillgängliggörandet av ett dokument på Internet inskränker på ditt upphovsrättsskyddade material, kan du vänligen kontakta oss och be oss om att ta bort det. Däremot, för att spara på skattebetalares pengar rekommenderar vi dig att inte göra det. Detta är för att att Handlingar.se förebygger dubbla förfrågningar, dubbelarbete, och lägger grund för en bättre relation till allmänheten.

</dd>

</dl>


</dl>

<p><strong>Om du inte redan har det</strong>, läs <a href="/help/about">inledningen</a> --&gt;
<br><strong>Eller</strong>, <a href="/help/credits">erkännanden</a> eller <a href="/help/api"> API för utvecklare</a> --&gt;

<div id="hash_link_padding"></div>


</div>
