<% @title = "Politique de confidentialité - Données personnelles et cookies" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="confidentialite"><%= @title %> <a href="#confidentialite">#</a></h1>
  <dl>

    <dd>
    <p>MaDADA est géré par OpenKnowledge France, une association loi 1901. Pour obtenir plus d'informations sur l'association, visitez <a href="https://fr.okfn.org/"> notre site web</a>.</p>

    <p>De par notre engagement pour la transparence, nous attachons la plus grande importance à la protection de la vie privée, et la sécurité de nos utilisateurs. La longueur de ce document en est une conséquence. Nous sommes conscients que ces documents sont rarement attractifs, et nous avons fait de notre mieux pour le rendre clair et compréhensible.</p>

    <p>Nous espérons qu'il couvre l'ensemble des questions que vous pouvez vous poser. Si ce n'est pas le cas, n'hésitez pas à nous contacter.</p>

    <dt id="adresse_email">Qui peut voir mon adresse email ? <a href="#adresse_email">#</a> </dt>

    <dd>
      <p>
        Nous ne divulguerons pas votre adresse email à tout le monde, sauf si nous y sommes obligés 
        légalement, ou si vous nous le demandez. Cela inclut l'autorité publique à laquelle vous envoyez 
        une demande. Ils ne verront qu’un email “@<%= AlaveteliConfiguration::incoming_email_domain %>” 
        qui aura été créé spécifiquement pour votre demande. 
      </p>
      <p>
        Si vous envoyez un message via le site à un autre utilisateur, ce dernier verra votre adresse email. Un avertissement vous le rappellera au moment de l'envoi.
      </p>
    </dd>

    <dt id="spam">Allez-vous envoyer du spam sur mon adresse email ? <a href="#spam">#</a> </dt>
    <dd>
      Non. Une fois que vous vous inscrivez sur <%= site_name %>, nous ne vous enverrons que des emails qui concernent une demande que vous avez faite, une alerte email à laquelle vous vous êtes inscrit, l’activité de la plateforme ou à d'autres occasions pour lesquelles vous avez donné votre autorisation. Nous ne donnerons ou ne vendrons jamais votre adresse email à des tiers, à moins que nous soyons obligés légalement de le faire, ou si vous nous l'avez demandé.
    </dd>

    <dt id="demande_publique">Pourquoi mon nom et ma demande apparaissent publiquement sur le site ? <a href="#demande_publique">#</a> </dt>

    <dd>
      <p>
        Nous publions votre demande sur Internet, afin que tout le monde puisse la lire et 
        puisse utiliser les informations que vous avez reçues des autorités publiques. 
        Normalement, nous ne supprimons pas les demandes (plus de détails voir 
        (<a href="#supprimer_une_demande">Pouvez-vous supprimer mes informations personnelles ?</a>).
      </p>
      <p>
        Votre nom est lié à votre demande, c'est pourquoi il est publié. L'utilisation de votre vrai 
        nom aide également les personnes à entrer en contact avec vous afin de vous aider dans votre 
        recherche. Légalement vous devez utiliser votre nom réel pour que la demande soit valide. 
        Lisez la prochaine question pour avoir des solutions si vous ne voulez pas publier votre nom complet.
      </p>
    </dd>

    <dt id="pseudonyme">Puis-je faire une demande d'informations sous un pseudonyme?<a href="#pseudonyme">#</a> </dt>


    <dd>
      <p>
        Vous devez utiliser votre vrai nom pour que votre demande soit valide. Cependant, les 
        administrations devraient accepter de répondre à une demande faite sous un pseudonyme. 
        Attention cependant, même si l'autorité suit cette bonne pratique, l'usage d'un pseudonyme 
        vous empêchera de saisir la Commission d’Accès aux Documents Administratif (CADA) en cas de 
        refus de l’autorité.
      </p>

      <p>Il y a plusieurs alternatives à l'utilisation d'un pseudonyme.</p>

      <ul>
        <li>
          Utiliser une autre forme de votre nom. «M. Arthur Thomas Roberts" peut s'appeler 
          "Arthur Roberts", "A. T. Roberts", ou "M. Roberts", mais pas "Arthur" ou "A.T.R.".
        </li>
        <li>
          Les femmes peuvent utiliser leur nom de jeune fille.
        </li>
        <li>
          Utiliser, avec leur accord, le nom d'une organisation, le nom d'une société, 
          le nom commercial d'une entreprise, le nom d'une ASBL,...
        </li>
        <li>
          Demander à quelqu'un de faire la demande à votre place.
        </li>
      </ul>

      <p>
        Vous pouvez, si vous êtes vraiment bloqué, nous demander de faire la demande à votre place. 
        Dans ce cas veuillez nous contacter en nous expliquant les raisons pour lesquelles vous ne 
        pouvez pas faire la demande vous-même et pourquoi vous ne pouvez pas demander à une connaissance 
        de le faire. Nous ne disposons pas des ressources nécessaires pour le faire pour tout le monde. 
        Dans tous les cas ne vous faites jamais passer pour quelqu'un d'autre !
      </p>

    </dd>

    <dt id="adresse_postale">L’autorité publique demande mon adresse postale <a href="#adresse_postale">#</a> </dt>

    <dd>
      <p>
        La législation sur la publicité de l’administration exige que les demandes soient introduites 
        par écrit. La jurisprudence reconnaît l’email comme un écrit valide pour demander l’accès aux 
        informations détenues par les autorités publiques. Insistez donc pour recevoir une réponse par email.
      </p>
    </dd>

    <dt id="reponse_postale">L’autorité a besoin d'une adresse postale pour m'envoyer une réponse par la Poste ! <a href="#reponse_postale">#</a> </dt>

    <dd>
      <p>
        Si une autorité ne dispose que d'une copie papier de l'information que vous voulez, 
        ils peuvent vous demander une adresse postale. Pour commencer, essayez de les convaincre 
        de numériser les documents pour vous. Si cela ne fonctionne pas, et que vous voulez fournir 
        votre adresse postale en privé afin de recevoir les documents, marquez votre demande en utilisant 
        l’option "Ils vont répondre par la poste". Vous aurez alors une adresse électronique pour 
        les contacter en aparté.
      </p>
    </dd>

    <dt id="supprimer_une_demande">Pouvez-vous supprimer mes demandes, ou modifier mon nom ?  <a href="#supprimer_une_demande">#</a> </dt>

    <dd>

      <p>
        <%= site_name %> est une archive publique permanente des demandes d'accès à l'information. 
        Même si vous trouvez qu'une réponse à une demande n'est plus utile, elle peut être intéressante 
        pour les autres. Pour cette raison, nous ne supprimons pas les demandes.
      </p>

      <p>
        Dans des circonstances exceptionnelles, nous pouvons supprimer ou modifier votre nom sur le site, 
        (<a href="#suppression">voir la question suivante</a>). De même, nous pouvons également supprimer d'autres informations 
        personnelles. Si vous êtes inquiet à ce sujet, consultez la section sur les pseudonymes 
        avant de faire votre demande.
      </p>

    </dd>

    <dt id="suppression">Pouvez-vous supprimer mes informations personnelles ? <a href="#suppression">#</a> </dt>

    <dd>

      <p>
        Si vous voyez des informations personnelles vous concernant sur le site et que vous souhaitez 
        que nous les supprimions ou les cachions, veuillez <a href="<%= help_contact_path %>">nous en informer</a>. Indiquez exactement quelles 
        informations vous pose problème, pourquoi, et à quel endroit elle apparaît sur le site.
      </p>

      <p>
        Si ce sont des informations personnelles sensibles qui ont été accidentellement postées, 
        nous les supprimerons. Normalement, nous ne considérons que les demandes de suppression 
        des informations personnelles qui proviennent de la personne concernée, mais pour des 
        informations sensibles sur d'autres personnes, nous serions reconnaissant à quiconque 
        de nous les faire remarquer.
      </p>

      <p>
        Nous considérons qu'il y a un intérêt public à garder les noms des fonctionnaires ou des 
        agents des pouvoirs publics. Nous ne supprimerons ces noms que dans des circonstances 
        exceptionnelles, par exemple lorsque la divulgation d'un nom et la position d’une personne 
        pourrait porter préjudice à la sécurité d'un individu. Si vous êtes un de ces fonctionnaires 
        et que vous souhaitez faire retirer votre nom pour une telle raison, vous devez nous envoyer 
        une demande de suppression via votre supérieur hiérarchique. Cette demande doit démontrer 
        que le risque est flagrant et que ce risque l'emporte sur l'intérêt public. Vous devrez 
        également démontrer que des efforts ont été faits pour dissimuler le nom de la personne 
        concernée sur le site de l'autorité publique. Nous ne pouvons pas facilement modifier 
        certaines formes de pièces jointes (comme les fichiers PDF ou des fichiers Microsoft Word ou Excel), 
        nous allons donc généralement demander aux autorités de nous renvoyer les documents en supprimant 
        au préalable les informations personnelles.
      </p>

      <p>
        Pour en savoir plus, consultez la <a href="<%= help_officers_path %>">FAQ pour les administrations</a>
      </p>
    </dd>

  </dl>
  <h2>Cookies et services externes</h2>

  <dl>
    <dt id="cookies">Cookies<a href="#cookies">#</a> </dt>

    <dd>
    <p>Afin de rendre notre service plus facile d'utilisation et plus utile, nous utilisons de petits fichiers enregistrés sur votre navigateur web (sur votre ordinateur ou smartphone), appelés "cookies". C'est une pratique très courante, et la plupart des sites web utilisent ce système.</p>

    <p>Ces cookies nous permettent par exemple de savoir que vous êtes connecté.e, et ainsi de ne pas vous redemander un mot de passe à chaque page. La liste ci-dessous décrit les cookies que nous utilisons:</p>
    <table>
        <tbody><tr>
          <th scope="col">Non</th>
          <th scope="col">Contenu typique</th>
          <th scope="col">Expiration</th>
        </tr>
        <tr>
          <td>_wdtk_cookie_session</td>
          <td>Un identifiant unique aléatoire</td>
          <td>Lorsque le navigateur est fermé, ou après un mois, si vous avez coché "Souvenez-vous de moi" lorsque vous vous êtes connecté.e</td>
        </tr>
        <tr>
          <td>seen_foi2</td>
          <td>Le chiffre 1 si vous avez vu une notification</td>
          <td>7 jours</td>
        </tr>
        <tr>
          <td>has_seen_country_message</td>
          <td>Le chiffre 1 si vous avez vu le message concernant les services FOI dans d'autres pays</td>
          <td>1 an</td>
        </tr>
        <tr>
          <td>last_request_id</td>
          <td>Un numéro identifiant la dernière demande que vous avez vue sur notre site</td>
          <td>A la fermeture du navigateur</td>
        </tr>
        <tr>
          <td>last_body_id</td>
          <td>Un numéro identifiant la dernière administratio que vous avez vue sur notre site</td>
          <td>A la fermeture du navigateur</td>
        </tr>
        <tr>
          <td>widget_vote</td>
          <td>Un identifiant aléatoire relatif à un vote "Je veux aussi savoir" sur une demande qui vous intéresse</td>
          <td>A la fermeture du navigateur</td>
        </tr>
      </tbody></table>
    </dd>

    <dt id="statistiques">Statistiques d'utilisation<a href="#statistiques">#</a> </dt>

    <dd>
    <p> Nous utilisons <a href="https://matomo.org/">matomo</a> pour collecter des statistiques sur l'utilisation du site, dans le but d'améliorer le service. Nous avons désactivé l'usage des cookies sur matomo.
    Les statistiques sur nous conservons incluent :
      <ul>
        <li>L'adresse IP (nous n'en conservons qu'une partie, qui ne permet pas d'identifier un utilisateur de manière unique)</li>
        <li>Les pages visitées</li>
        <li>L'origine de la visite</li>
        <li>Des informations sur votre navigateur web (logiciel, version…)</li>
        <li>Ces données ne sont pas partagées, ni agrégées avec celles d'autres sites. L'historique des visites est détruit après 6 mois.</li>
      </ul>
      Vous pouvez consulter la politique de confidentialité de matomo sur <a href="https://matomo.org/privacy-policy/">leur site (en anglais)</a>.
    </p>
    </dd>

  </dl>
    <div id="hash_link_padding"></div>
</div>
