<% @title = "Att göra en begäran" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a> </h1>
<dl>


<dt id="which_authority">Om du är osäker på vilken myndighet du ska skicka din fråga till<a href="#which_authority">#</a> </dt>

<dd>
<ul>
<li>Bläddra eller sök på handlingar.se efter liknande frågor som din.</li>
<li>När du har hittat en myndighet som du tror kan ha informationen du behöver, dubbelkolla vad de jobbar med på deras hemsida.</li>
<li>Oroa dig inte alltför mycket om att hitta rätt myndighet från början. Om du tar fel så borde de ge dig råd om vilken myndighet du ska skicka din fråga till istället.</li>
</ul>

</dd>

<dt id="missing_body">Om myndigheten du vill skriva till saknas <a href="#missing_body">#</a> </dt>

<dd>
<p>Vänligen <a href="<%= new_change_request_path %>">kontakta oss</a> med myndighetens namn och deras registrators e-postadress eller liknande. Vi lägger till myndigheten på plattformen så att du kan ställa din fråga.
</p>
<p>Om du vilja hjälpa lägga till en hel kategori myndigheter till plattformen, ser vi fram emot att höra från dig också.
</p>

</dd>



<dt id="focused">Håll din begäran om allmän handling fokuserad <a href="#focused">#</a> </dt>

<dd>

<p>
En tydlig och kort fråga gör det lättare för myndigheterna att förstå vilken information du  begär ut, vilket innebär att du kommer att få ett svar snabbare. För att undvika att din fråga raderas från plattformen så ska den inte innehålla:

</p>

<ul>
<li>argument om din sak.</li>
<li>uttalanden som kan förtala eller förolämpa andra.</li>
<li>frågor eller begäran om kommentar och åsikt snarare än om specifik information.</li>
</ul>

<p>
Handlingar.se är för närvarande endast avsedd för offentliga förfrågningar. Alla svar som vi får publiceras automatiskt på hemsidan för alla att läsa.
</p>


</dd>

<dt id="fees">Eventuella kostnader av att göra en begäran om allmän handling<a href="#fees">#</a> </dt>

<dd>

<p>Att göra en begäran om allmän handling med hjälp av Offentlighetsprincipen är ofta kostnadsfritt - många gånger beroende på om myndigheten väljer digitalt först eller ej.
</p>

<p>Myndigheter inkluderar ibland standardtext i mailet som beskriver deras policy för att ta betalt för förfrågningar. Om de vill ta ut en kostnad, kan de bara göra det om det har särskilt avtalats i förväg, t.ex att du måste godkänna totalbeloppet och betala myndigheten innan svaret ges.
</p>

<p>Du kan även finjustera begäran om det skulle minska kostnaden. Om myndigheten tar betalt för antal sidor skulle det vara mycket billigare att fråga om t.ex hur mycket spenderas på X under det senaste året än under de senaste tio åren.
 </p>

</dd>

<dt id="no_response">Allmänt om svar<a href="#no_response">#</a> </dt>
<dd>
<p>
En begäran om kopia av allmän handling ska behandlas "skyndsamt" enligt 
<a href="http://www.riksdagen.se/sv/Dokument-Lagar/Lagar/Svenskforfattningssamling/Tryckfrihetsforordning-19491_sfs-1949-105/#K2">Tryckfrihetsförordningen Kapitel 2, 16 §.</a>  De borde i nästan alla fall svara inom 1 arbetsdag. 
</p>
 
 <p>Handlingar.se kommer att skicka dig ett mail om du inte får ett snabbt svar. Då kan du påminna myndigheten och berätta för dem att deras hantering inte upplevs som skyndsam Om du aldrig får ett svar så finns det flera saker du kan göra:

</p>
 
 <p>Ibland har det uppstått problem när frågan skickades iväg och myndigheten fick aldrig begäran. Det är värt att ringa myndigheten och kontrollera om de tagit emot begäran. Det skickades till dem via mail.
</p>
 
 <ul>
<li>Om de inte har fått det, är det mest sannolikt på grund av problem med "spamfilter". Referera myndigheten till åtgärderna i svaret 'Om begäran om allmän handling finns på Handlingar, men ni på myndigheten inte har tagit emot det’ för registratorer.</li>
<li>Om du fortfarande inte har något tur, då kan du be om en intern granskning, och sedan klaga hos Justitieombudsmannen om myndigheten. Läs mer på 
<a href="https://handlingar.se/sv/help/unhappy">'Missnöjd med svaret du fick?'</a>.</li>


 
 
</dd>



<dt id="data_protection">Att begära ut information om sig själv eller om annan privatperson<a href="#data_protection">#</a> </dt>
<dd>
<p>Förfrågningar gjorda med handlingar.se är offentliga, gjorda enligt Offentlighetsprincipen, och plattformen är inte designad för dig att hitta känslig information om en privat individ. Myndigheter ska inte skicka ut allmänna handlingar elektroniskt om de innehåller känsliga personliga uppgifter. De blir påminda om detta i förfrågningar som görs via plattformen.
</p>

<p>Om du vill veta vilken information en offentlig myndigheten har om dig själv, bör du fråga efter "Ämne: Registerutdrag" genom privat användning av personuppgiftslagen. 
<a href="https://www.imy.se/">Integritetsskyddsmyndighetens hemsida</a> ger råd om hur du får tillgång din egen personliga information.</p>

<p> <a href="<%= help_contact_path %>">Kontakta oss</a> som du ser att någon har inkluderat personlig information, kanske omedvetet, i en begäran så att vi omedelbart kan ta bort det.
</p> </dd>


<dt id="multiple">Att göra samma begäran om allmän handling till flera myndigheter samtidigt  <a href="#multiple">#</a> </dt>
<dd>
Under vissa förutsättningar kan det vara möjligt. Det innebär ett större ansvar i ditt användande. Vi ber dig att först skicka frågan till ett fåtal av myndigheterna. Deras svar kommer att hjälpa dig att förbättra formuleringen i din begäran, som du du skickar till alla myndigheterna. Om du är intresserad av att få stöd att skicka flera förfrågningar samtidigt, <a href="<%= help_contact_path %>">kontakta oss</a>.
</dd>


<dt id="moderation">Hur plattformen modereras <a href="#moderation">#</a> </dt>

<dd>
<p>Vi förbehåller oss rätten att ta bort eller stänga av kommentarer på vissa förfrågningar. Även att dölja eller ta bort själva begäran från plattformen om den innebär förtal, hets mot folkgrupp eller frågar om känslig information om en privat individ.  </p>
<dd>

</dl>

<p><strong>Härnäst</strong>, läs om <a href="/help/privacy">din integritet</a> --&gt;

<div id="hash_link_padding"></div>

</div>
