<% @title = _("Making requests") %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a> </h1>
<dl>

<dt id="which_authority">Не съм сигурен към кой орган
точно да отправя Заявлението си. Как да узная това? <a href="#which_authority">#</a> </dt>

<dd>
<p>Може да Ви е трудно да се ориентирате в сложната структура
на правителството и да решите кой орган притежава информацията, която
търсите. Ето няколко съвета:
<ul>
<li>Разгледайте <%= site_name %> или потърсете заявления,
подобни на Вашето.</li>
<li>Когато намерите орган, за който смятате, че разполага с
исканата от
Вас информация, използвайте препратката "Сайт на публичния орган" в
дясно в страницата им, за да узнаете повече от техния уеб сайт.</li>
<li>Свържете се с органа по телефона или чрез имейл и ги
попитайте дали те разполагат с този тип информация.</li>
<li>Не се притеснявайте твърде много, ако не попаднете на
правилния орган. Те би трябвало да Ви посъветват към кой друг орган да отправите
Заявлението си.
</li>
<li>Ако попаднете в заплетена ситуация, молим, <a href="/help/contact">пишете ни</a> за помощ.</li>
</ul>

</dd>



<dt id="missing_body">Тук липсва публичният орган, към
който искам да отправя Заявлението си! <a href="#missing_body">#</a> </dt>

<dd>
<p>PМолим, <a href="/help/contact">свържете
се с нас</a> и ни изпратете наименованието на публичния орган, а
ако сте успели да го намерите, и техния имейл адрес за Заявления за
Достъп
до Информация.
</p>
<p>Ако желаете да ни помогнете, като добавите цяла категория
публични органи към сайта, ние също ще се радваме да се свържем с Вас.
</p>

</dd>

<dt id="authorities">Защо сте включили някои органи,
които формално не са задължени субекти по Закона за достъп до
обществена информация?<a href="#authorities">#</a> </dt>

<dd>
<p>Чрез <%= site_name %> можете да отправяте Заявления за
Достъп до Информация към следните категории организации:</p>

<ul>
  <li>Тези, които са задължени субекти според
Закона за достъп до обществена информация</li>
  <li>Тези, които са обект на нормативни актове, свързани с
околната среда (не толкова добре дефинирана група)</li>
  <li>Тези, които доброволно се съобразяват с разпоредбите
на Закона за достъп до обществена информация</li>
  <li>Такива, които не са обекти на Закона, но според нас,
трябва да бъдат, на основание например, значителните им обществени
отговорности.
  </li>
</ul>

<p>В последния случай, ние използваме сайта за да лобираме за
разширяване обхвата на Закона за достъп до обществена
информация. Въпреки че дадена организация не е задължена от Закона да
отговаря на Заявления за Достъп до Информация, тя би могла да го прави
доброволно.
</p>

</dd>

<dt id="focused">Защо трябва да съм конкретен в Заявлението си?<a href="#focused">#</a> </dt>

<dd>

<p>
Молим, напишете в Заявлението си само това, което искате,
за да може
четящият го, да разбере каква точно информация търсите. Молим, <i>не
включвайте</i> нищо от следните:
</p>

<ul>
<li>аргументи за Вашето питане</li>
<li>изявления, които биха могли да наклеветят или обидят някого</li>
</ul>

<p>
Ако все пак го направите, може да премахнем Заявлението Ви, за да
избегнем проблеми с правосъдието, което ще е неприятно както за Вас,
така и за нас. С две думи, сбитите съобщения помагат на органите да
разберат каква точно информация искате, което означава, че Вие ще
получите отговор по-скоро.
</p>

<p>
Ако искате информация в подкрепа на аргумент или кампания, Достъпът до
обществена информация е мощен инструмент. Въпреки че може да не
използвате този сайт за да осъществите кампанията си, ние ще Ви
насърчим да го използвате, за да получите нужната Ви информация. Ние ще
Ви подкрепим и в осъществяването на кампанията Ви, където и да е
другаде
- един много лесен начин е да <a href="http://wordpress.com/">стартирате
собствен блог</a>. Вие можете да поставите препратка от този сайт
към кампанията Ви в коментар към Вашето Заявление (можете да пишете
коментари и след подаването на Заявлението).
</p>

</dd>

<dt id="fees">Ще трябва ли да платя някаква сума, за да направя Заявлението?<a href="#fees">#</a> </dt>

<dd>

<p>По закон, отправянето на Заявление за ДдИ в Република
България е безплатно. Ако желаете, Вие може да поискате информация за
разходите, направени от органа, във връзка с отговарянето на заявления
за ДдИ. Текстът до края на този отговор е от оригиналния сайт, отнася
се за Великобритания и е оставен тук единствено с познавателна цел.</p>

<p>Отправянето на Заявление за ДдИ почти винаги е безплатно.</p>

<p>Органите често включват ненужни, заплашителни, шаблонни
потвърждаващи съобщения, в които обясняват, че те "може" да поискат
заплащане на такса. Не обръщайте внимание на подобни текстове. Едва ли
някога те действително ще начислият някаква такса. Ако го направят,
това може да стане, ако Вие предварително сте се съгласили да
заплатите.
<a href="http://www.ico.gov.uk/upload/documents/library/freedom_of_information/practical_application/chargingafee.pdf">Повече
подробности</a> от Information Commissioner (на английски).
</p>
<p>Някой орган може да откаже Заявлението Ви с аргумента, че
цената на
обработката му би надхвърлила £600 (за Правителството на
Великобритания) или £450 (за всички други публични органи). В такъв
случай Вие може да прецизирате Вашето Заявление. Например, ще бъде
доста по-евтино за органа да посочи сумата, изразходвана за бонбони
през изминалата година вместо за последните десет години.
</p>

</dd>



<dt id="quickly_response">Колко бързо ще получа отговор? <a href="#quickly_response">#</a> </dt>

<dd>
<p>По закон, публичният орган трябва да отговаря на
заявленията незабавно.
</p>

<p>Дори и да не отговорят веднага, в почти всички случаи те
трябва да отговорят в рамките на 14 работни дни. Ако трябва да изясните
Заявлението си, или те са училище,
или две-три други изключения, то тогава може да отнеме повече време
(<a href="/help/officers#days">пълни
детайли</a>).</p>

<p><%= site_name %> ще Ви уведоми с имейл ако не получите
отговора навреме. След това Вие може да изпратите на органа напомнящо
съобщение и да ги предупредите, че със забавянето си нарушават закона.</p>

</dd>

<dt id="no_response">Ако те не отговорят никога?<a href="#no_response">#</a> </dt>

<dd>
<p>Има няколко неща, които може да направите ако те въобще не отговорят.</p>
<ul>
    <li>Може, поради някакъв проблем, органът да не е получил
Заявлението Ви. Заслужава си да звъннете и учтиво да проверите дали са
получили Заявлението. То им е било изпратено като имейл.
    </li>
    <li>Ако не са го получили, проблемът може да е,
например, в някакъв тъп "спам филтър". Информирайте органа за мерките,
предложени в темата '<a href="/help/officers#spam_problems">Аз
виждам Заявлението в сайта Alaveteli България, но тук никога не сме го
получавали като имейл!</a>'
в секцията за служители по ДдИ в този наръчник.
    </li>
    <li>Ако все още нямате успех, то Вие може да поискате
вътрешно разглеждане и тогава да се оплачете на Information
Commissioner (за UK) относно органа. Прочетете нашата страница '<a href="/help/unhappy">Не съм доволен
от отговора, който получих?</a>'.</li>
</ul>
</dd>

<dt id="not_satifised">Ами ако аз не съм удовлетворен от отговора? <a href="#not_satifised">#</a> </dt>
<dd>
<p>Ако не сте получили информацията, за която сте питали, или
не сте я получили навреме,
прочетете нашата страница '<a href="/help/unhappy">Не съм доволен
от отговора, който получих?</a>'.</p>
</dd>

<dt id="reuse">Казва се, че не мога да използвам повторно получената информация!<a href="#reuse">#</a> </dt>
<dd>
<p>Органите често добавят шаблонна правна информация относно "<a href="http://www.opsi.gov.uk/si/si2005/20051515">Re-Use of
Public Sector Information Regulations 2005</a>", което на пръв
поглед
предполага, че Вие няма да можете да направите каквото и да е с тази
информация.
</p>

<p>Вие, разбира се, можете да пишете статии относно
информацията или да я обобщавате, или да цитирате части от нея. Ние
смятаме също, че Вие би трябвало да се чувствате свободни да
препубликувате информацията изцяло, точно както го правим ние, въпреки
че на теория, може да не Ви е разрешено да направите това. Вижте <a href="/help/officers#copyright">нашата
политика за авторско право</a>.</p>

</dd>

<dt id="ico_help">Може ли да ми кажете нещо повече от кухнята на процеса на създаване на Заявления? <a href="#ico_help">#</a> </dt>

<dd>
<p>Have a look at the
<a href="http://www.ico.gov.uk/for_the_public/access_to_official_information.aspx">access to official information</a>
pages on the Information Commissioner's website.</p>

<p>Погледнете страниците
<a href="http://www.ico.gov.uk/for_the_public/access_to_official_information.aspx">access
to official information</a> в уеб сайта на Information
Commissioner.</p>
<p>Ако искате информация от шотландски публичен орган,
процесът е почти същият. Има някои разлики относно сроковете на
процедурата. Вижте <a href="http://www.itspublicknowledge.info/nmsruntime/saveasdialog.asp?lID=1858&amp;sID=321">Scottish
Information Commissioner's guidance</a> за подробности.</p>
</dd>

<dt id="data_protection">Мога ли да поискам информация за себе си? <a href="#data_protection">#</a> </dt>

<dd>
<p>Не. Заявленията, направени чрез Alaveteli България са
публични,
правят се съгласно Закона за достъп до обществена информация и не може
да Ви послужат да откриете информация за частно лице.</p>
<p>Ако искате да знаете с каква информация за Вас самия
разполага публичен орган, би трябвало лично да отправите до
него&nbsp;Заявление с писмо по пощата или подписано с цифров подпис
по електронната поща. Това право се урежда в Закона за защита на
личните данни. The leaflet "<a href="http://www.ico.gov.uk/upload/documents/library/data_protection/introductory/subject_access_rights.pdf">How
to access your information</a>" (on the Information
Commissioner's
website) explains how to do this.</p>
<p>Ако забележите, че някой, вероятно
несъзнателно, е включил лични данни в Заявление или коментар тук, в
този сайт, молим <a href="/help/contact">уведомете
ни</a> веднага, за да ги премахнем.</p>
</dd>


<dt id="private_requests">Бих желал да запазя моето Заявление в тайна! (Поне докато публикувам моето разследване) <a href="#private_requests">#</a> </dt>

<dd><p>Към момента, <%= site_name %> е направен само за
публични Заявления. Всички, получавани при нас отговори, се публикуват
автоматично на сайта, за да може всеки да ги прочете.</p>
<p>Вие може да се свържете директно с публичния орган, ако
желаете Заявлението Ви да не е известно за широката публика.
Ако се интересувате от закупуване на система, с която да управлявате
такива Заявления по Закона за достъп до обществена информация, <a href="/help/contact">свържете се с нас</a>.
</p>
</dd>

<dt id="eir">Защо от някои органи мога да искам само информация, свързана с околната среда?<a href="#eir">#</a> </dt>

<dd>
<p>Някои публични органи, като <a href="http://www.whatdotheyknow.com/body/south_east_water">South
East Water</a>,
не са обект на Закона за достъп до обществена информация, но попадат
под регулациите на друг закон - Environmental Information Regulations
(EIR). </p>
<p>Този закон е много подобен, така че Вие можете да
отправяте Заявления към тези органи чрез Alaveteli България по същия
начин, както по ЗДОИ. Единствената разлика е, че на страницата за
създаване на Вашето Заявление, ще виждате напомняне, че можете да
искате единствено информация, свързана с околната среда.
</p>
<p>Вие, разбира се, можете да искате информация, свързана с
околната среда и от други органи. Просто създайте обикновено Заявление
за ДдИ. Органът има задължението да отговори съгласно Закона за
опазване на околната среда, ако прецени, че е по-подходящ за случая. </p>
</dd>

<dt id="multiple">Мога ли да отправя едно и също
Заявление към няколко органа, напр. към всички Регионални инспекторати
по образованието? <a href="#multiple">#</a> </dt>

<dd>
<p>Бихме Ви помолили първо да отправите Заявлението си към
малко органи. Техните отговори ще Ви помогнат да подобрите изказа в
Заявлението, така че да получите най-добър резултат, когато го
изпратите до всички органи. Към момента, в тази версия на сайта, няма
автоматизирана система за изпращане на заявлението до повече органи,
така че ще трябва да го копирате и отправяте ръчно, но това скоро ще се
промени.</p>

</dd>

<dt id="offsite">Отправих Заявление не чрез сайта, как да го кача в архива тук?<a href="#offsite">#</a> </dt>

<dd><%= site_name %> е архив на заявленията, направени
чрез сайта и не се опитва да бъде архив на всички заявления за
ДдИ. Ние никога няма да поддържаме възможност за качване на други
заявления. Ние няма да можем да удостоверим, че отговорите на дадено
заявление действително са дошли от органа. Ако това действително е
важно за Вас,
Вие винаги можете да създадете същото заявление отново чрез <%= site_name %>.
</dd>

<dt id="moderation">Как управлявате коментарите към заявленията? <a href="#moderation">#</a> </dt>

<dd>
<p>Коментарите в <%= site_name %> са за да помогнат на
хората да намерят информацията, която търсят, или да им дадат насоки
към местата, където могат да се произнесат за нея. Ние си запазваме
правото да премахваме всичко останало.
</p>
<p>И накрая, политически дискусии не са позволени.
Поставете препратка към подходящ форум или публикация в друг сайт.</p>
<dd>

</dl>

<p><strong>Нататък</strong>, прочетете относно
опазването на <a href="/help/privacy">личните Ви данни</a> --&gt;

<div id="hash_link_padding"></div>

</div>
