
<% @title = "Terms of use" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1>
    <%= @title %>
  </h1>
  <dl>
    <dt id="terms">
      Moderation
      <a href="#terms">#</a>
    </dt>
    <dd>
      <p>
        The platform Handlingar.se is run non-profit, thus also the moderation. The terms of use are listed below.
      </p>
      <p>
     For clarifications, <a href="<%=  help_contact_path %>">contact us</a>.
      </p>
    </dd>
   
    
    <dt id="termsofuse">
     Terms of use
      <a href="#termsofuse">#</a>
    </dt>
    <dd>
      <p>
        Only use Handlingar.se to request information that everyone can expect to receive if they asked the same question. Do not use Handlingar.se for inquiries that may contain sensitive information either about yourself or others.
      </p>
      <ul>
        <li>
       You can, not on the platform, ask for "Subject: Register extract" by using the Personal Data Act. <a href="https://www.imy.se/">The website of the Privacy Protection Authority</a> provides advice on how to access your own personal information.
        </li>
        <li>
         Volonteers running Handlingar.se may contact you by e-mail, to draw your attention to our terms of use linked to one of your requests, your username, or an annotation you have made. If the support team's request for change is not met they might have to suspend your account after a warning. 
        </li>
        <li>
          Do not pretend to be someone else. Use a pseudonym in line with these <a href="https://handlingar.se/sv/help/privacy#real_name">recommendations.</a>
        </li>
        <li>
      We reserve the right to remove or disable comments on certain requests. Also to hide or remove the actual request from the platform if it involves slander, incitement against ethnic group, contains or asks for sensitive information about a private individual.
        </li>
        <li>
         <a href="<%=  help_contact_path %>">Contact us</a> if you see that someone has included personal information, perhaps unknowingly, in a request so that we can delete it immediately.
        </li>
     
      </ul>
      
       <dt id="tasks">
      Moderator
      <a href="#tasks">#</a>
    </dt>
    <dd>
      <p>
       We are actively looking for non-profit forces. <a href="<%=  help_contact_path %>">Contact us</a> if you want to help or know more.
        
      </p>
