<% @title = "Användarvillkor" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1>
    <%= @title %>
  </h1>
  <dl>
    <dt id="terms">
      Moderering
      <a href="#terms">#</a>
    </dt>
    <dd>
      <p>
        Plattformen Handlingar.se drivs ideellt, således även modereringen. Nedan listas användarvillkoren. 
      </p>
      <p>
       För förtydliganden, <a href="<%=  help_contact_path %>">kontakta oss</a>.
      </p>
    </dd>
   
    
    <dt id="termsofuse">
      Användarvillkor
      <a href="#termsofuse">#</a>
    </dt>
    <dd>
      <p>
        Använd bara Handlingar.se för att begära information som alla kan förvänta sig att få om de ställde samma fråga. Använd alltså inte Handlingar.se för förfrågningar som kan innehålla känsliga uppgifter antingen om dig själv eller andra.
      </p>
      <ul>
        <li>
          Du kan även fråga efter "Ämne: Registerutdrag" genom användning av personuppgiftslagen. <a href="https://www.imy.se/">Integritetsskyddsmyndighetens hemsida</a> ger råd om hur du får tillgång din egen personliga information.
        </li>
        <li>
          Volontärer bakom Handlingar.se kan komma att kontakta dig per e-post, för att uppmärksamma dig på våra användarvillkor kopplat till en begäran du gjort, ditt användarnamn, eller anteckning du har gjort och be dig ändra detta enligt användarvillkoren. Om supportgruppens begäran om ändring inte sker kan våra volontärer vara tvungna att stänga av ditt konto efter en varning.
        </li>
        <li>
          Utge dig inte för att vara någon annan. Använd psedonym i linje med dessa <a href="https://handlingar.se/sv/help/privacy#real_name">rekommendationer.</a>
        </li>
        <li>
         Vi förbehåller oss rätten att ta bort eller stänga av kommentarer på vissa förfrågningar. Även att dölja eller ta bort själva begäran från plattformen om den innebär förtal, hets mot folkgrupp, innehåller eller frågar om känslig information om en privat individ. 
        </li>
        <li>
         <a href="<%=  help_contact_path %>">kontakta oss</a> om du ser att någon har inkluderat personlig information, kanske omedvetet, i en begäran så att vi omedelbart kan ta bort det.
        </li>
     
      </ul>
      
       <dt id="tasks">
      Moderator
      <a href="#tasks">#</a>
    </dt>
    <dd>
      <p>
        Vi letar aktivt efter idella krafter. <a href="<%=  help_contact_path %>">Kontakta oss</a> om du vill hjälpa till eller veta mer.
        
      </p>
     
  <div id="hash_link_padding"></div>
</div>
