<% @title = "Unhappy about an OPRA request?" %>


<% if @info_request %>
  <h1>Unhappy about the response you got
    to your request '<%=request_link(@info_request) %>'?
  </h1>
<% else %>
  <h1>Unhappy about the response you got?</h1>
<% end %>

<p>If ...</p>

<ul>
  <li>You didn't get a reply within 7 business days</li>
  <li>You did not get all of the records that you requested <strong>or</strong></li>
  <li>Your request was refused, but without a reason valid under the law</li>
  <li>The authority refused to release the records without a <strong>special service</strong>fee.</li>
</ul>

<p>... you can</p>

<ol>
  <li>Ask for an <strong>internal review</strong> at the public authority.</li>
  <li>Complain to the <strong>GRC</strong>.</li>
  <li>File a lawsuit in New Jersey Superior Court.</li>
  <li>Either way, also <strong>use other means</strong> to answer your question.</li>
</ol>

<h1 id="internal_review">1. Asking for an internal review <a class="hover_a" href="#internal_review">#</a> </h1>


<h1 id="complaining">2. Complaining to the Government Records Council <a class="hover_a" href="#complaining">#</a> </h1>

<p>If you are unhappy with the response you received from the authority,
  then you can complain to the Government Records Council. To do this read
  <a href="http://www.nj.gov/grc/register/">Register A Denial Of Access Complaint</a>
  on the GRC's website.
</p>

<p>To make it easier to send the relevant information to the
  GRC, either
  <% if @info_request %>
    include a link to your request
    <strong><%=h request_url(@info_request) %></strong>
  <% else %>
    include a link to your request on <%= site_name %>
<% end %>
in your complaint or print out the whole page of your request and all attachments.
</p>

<p>A warning. There is a backlog of work at the GRC, and
  it can take literally years to get resolution from them. If you reach this point,
  you should accept that you won't get the information quickly by this means. Maybe
  you want to help the fight to improve OPRA, or maybe
  getting the information slowly is still worthwhile. You can also try and
  get the information by <strong>other means...</strong></p>

<h1 id="other_means">3. Using other means to answer your question <a class="hover_a" href="#other_means">#</a> </h1>

<p>You can try persuing your problem or your research in other ways.</p>

<ul>
  <li>Make a <strong>new FOI request</strong> for summary information, or for
    documentation relating indirectly to matters in your refused request.
    <a href="<%= help_contact_path %>">Ask us for ideas</a> if you're stuck.</li>
  <li>If any <strong>other public authorities</strong> or publicly owned companies are involved,
    then make OPRA requests to them.</li>
  <li>Write to <strong>your state representative</strong> or other politician using <a
       href="http://www.writetothem.com">WriteToThem</a> and ask for their help
     finding the answer.</li>
  <% if can_ask_the_eu?(@country_code) %>
    <li>
      Try <%= link_to 'asking for the information from the European Union',
      'http://www.asktheeu.org' %>. Every one of the 500 million people
      living in the European Union (both citizens and residents) has the
      legally guaranteed right to ask for information from EU authorities.
      <%= link_to 'Ask The EU', 'http://www.asktheeu.org' %> is a version of
      this website for the European Union.
    </li>
  <% end %>

</ul>
